@import '../../../index';

.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: darken(#3e3e3e, 10%);
  padding: 0 20px;
  z-index: 10;
}

.brand {
  color: #409ad6;
  font-weight: 300;
  font-size: 36px;
  text-decoration: none;
  span {
    color: #d1d1d1;
  }
}

.main-nav {
  margin-left: auto;
  display: flex;
  list-style-type: none;
  @media (max-width: $screen-s) {
    margin-right: auto;
  }
  li {
    margin: 0 10px;
    @media (max-width: $screen-s) {
      margin: 0 5px;
    }
  }
  a {
    text-decoration: none;
    color: #409ad6;
    font-weight: 300;
    font-size: 18px;
    padding: 5px;
    transition: 0.3s all linear;
    text-align: center;
    &:hover {
      background-color: $bg-gray;
    }
    @media (max-width: $screen-s) {
      font-size: 14px;
    }
  }
}
