.chatBox {
  position: relative;
  flex-direction: column;
  overflow: auto;
  padding-bottom: 30px;

  .chatInput {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border: solid #ccc;
    border-width: 1px 0 0;
    font-size: 16px;
    padding: 5px 10px;
  }
}