@import "../../../index";

.contact {
  //min-height: calc(100vh - 80px);
  background-color: #fff;
  padding: 25px 35px;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;

  @media (max-width: $screen-m) {
    flex-direction: column;
  }

  form {
    padding: 24px;
    width: 45%;
    background-color: $bg-gray;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: $screen-m) {
      width: 100%;
      margin-bottom: 25px;
    }
    label {
      display: block;
      margin-bottom: 3px;
      font-weight: 300;
      font-size: 16px;
    }
    input,
    textarea {
      width: 100%;
      margin-bottom: 12px;
      font-size: 24px;
      border: none;
      color: $bg-gray;
      background-color: #fff;
      padding: 5px;
      resize: none;
      font-weight: 300;
    }
    textarea {
      height: 150px;
      font-size: 18px;
    }
    button {
      border-radius: 0;
      font-size: 18px;
      float: right;
      border: none;
      padding: 8px 12px;
      margin-left: auto;
    }
    .form-group {
      width: 100%;
    }
  }

  .location {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    width: 45%;
    background-color: $bg-gray;
    position: relative;
    @media (max-width: $screen-m) {
      width: 100%;
    }
    p {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      svg { margin-right: 8px; }
    }
    a {
      text-align: center;
      max-width: 95%;
    }
    img {
      filter: grayscale(100%);
      max-width: 100%;
    }
  }
}