@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400&subset=latin-ext');
@import "./variables";

* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

.section-title-dark {
  color: #fff;
  background-color: $bg-gray;
  font-weight: 300;
  font-size: 36px;
  padding: 5px;
  text-align: center;
}

.section-title-light {
  color: $bg-gray;
  background-color: #fff;
  font-weight: 300;
  font-size: 36px;
  padding: 5px;
  text-align: center;
}