$header-height: 80 + 'px';

// colors
$main-blue: #409ad6;
$main-gray: #d1d1d1;
$bg-gray: #3e3e3e;
$net-gray: #d1d1d1;

//Media Queries
$screen-xs: 320px;
$screen-s: 576px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1280px;