@import '../../../index';

.home {
  height: calc(100vh - 80px);
  background-color: $bg-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url('../../../public/img/home-bg.jpg');
    background-size: cover;
    opacity: 0.03;
  }

  h1 {
    color: $main-blue;
    font-size: 140px;
    font-weight: lighter;
    z-index: 1;
    span {
      color: $net-gray;
    }
    @media (max-width: $screen-m) {
      font-size: 72px;
    }
    @media (max-width: $screen-s) {
      font-size: 60px;
    }
  }
  h2 {
    color: $main-gray;
    font-size: 72px;
    font-weight: 300;
    z-index: 1;
    @media (max-width: $screen-m) {
      font-size: 36px;
    }
    @media (max-width: $screen-s) {
      font-size: 28px;
    }
    span {
      background-color: $main-gray;
      color: $bg-gray;
      padding-top: 10px;
    }
  }
}